{% extends "layout.html" %}
{% block head %}
    {{ super ()}}
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
{% endblock %}
{% block title %}Thermosta{% endblock %}
{% block content %}
    <div class="container">
    <form class="form-inline" action="/set-target">
        <p>
            Temperature cible: <input class="form-control" name="target" value="{{settings.target_temperature}}">
            Écart maximum: <input class="form-control" name="spread" value="{{settings.spread}}">
            <input class="btn btn-default" type=submit>
        </p>
    </form>
        <p>Chauffage : {{ "Allumé" if heater.active() else "Éteint" }}</p>
        <p>{{ count }} dernières temperatures</p>
        <table class="table">
            {% for temperature in temperatures %}
              <tr><td>{{temperature.date}}</td><td>{{temperature.temperature}}</td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
