{% extends "layout.html" %}
{% block head %}
    {{ super ()}}
{% endblock %}
{% block title %}Thermostat{% endblock %}
{% block content %}
    {{ super ()}}

        <button type="button" class="btn btn-primary btn-lg {{ 'btn-danger' if heater.active() else '' }}" id="toggle_swicth" autocomplete="off">
          <p class="toggle">Nuit</p>
          <p class="toggle" style="display: none">Jour</p>
        </button>
        <p>Chauffage : {{ "Allumé" if heater.active() else "Éteint" }}</p>
        <p>{{ count }} dernières temperatures</p>
        <table class="table">
            {% for temperature in temperatures %}
              <tr><td>{{temperature.date}}</td><td>{{temperature.temperature}}</td></tr>
            {% endfor %}
        </table>
<script>
  $('#toggle_swicth').on('click', function () {
    $(this).toggleClass("btn-danger");
    $('.toggle').toggle();
  });
</script>
{% endblock %}

