{% extends "layout.html" %}
{% block title %}Schedule{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <form method=POST>
        <div class="table-responsive">
        <table class="table table-striped" id=inhere>
            <thead>
                <tr>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                    <th>Samedi</th>
                    <th>Dimanche</th>
                </tr>
            </thead>
            <tbody>
                <!--Placeholder for lines of the timetable-->
                <script>AddTimeSlot()</script>
            </tbody>
        </table>
        </div>
        <input type="submit" value="Envoyer" class="btn btn-default">
    </form>
{% endblock content %}
